.page {
  margin: 0 auto;
  min-width: 320px;
  font-family: 'Inter', 'Arial', sans-serif;
  background-color: #000;
  color: #fff;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
