.popup__container {
  position: relative;
  padding: 34px 36px 37px;
  box-sizing: border-box;
  min-width: 430px;
  min-height: 330px;
  background: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

@media (max-width: 767px) {
  .popup__container {
    min-width: 282px;
    min-height: 322px;
    margin: 0 19px;
    padding: 25px 22px;
  }
}
