.popup__close-button_type_image-preview {
  min-width: 32px;
  min-height: 32px;
}

.popup__close-button_type_image-preview:focus {
  outline: 0;
}

@media (max-width: 767px) {
  .popup__close-button_type_image-preview {
    transform: translate(5px, -40px);
  }
}
