.form__submit-button {
  min-width: 358px;
  min-height: 50px;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  background: #000;
  color: #fff;
  border-radius: 2px;
  cursor: pointer;
  opacity: 1;
  transition: opacity .7s ease;
}

.form__submit-button:hover {
  opacity: 0.8;
}

.form__submit-butto:focus {
  outline: 0;
}

@media (max-width: 767px) {
  .form__submit-button {
    min-width: 238px;
    min-height: 46px;
    font-size: 14px;
  }
}
