.card__delete-button {
  grid-column: 1/-1;
  grid-row: 1;
  margin: 18px 15px 0 0;
  padding: 0;
  justify-self: end;
  z-index: 1;
  width: 18px;
  height: 19px;
  background-image: url('../../../images/card-delete-button-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  color: #fff;
  border: 0;
  cursor: pointer;
  opacity: 1;
  transition: opacity .7s ease;
}

.card__delete-button:hover {
  opacity: 0.6;
}

.card__delete-button:focus {
  outline: 0;
}
